<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar') %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%- include('../partials/sidebar') %>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <h1 class="text-center mt-5">NOT FOUND</h1>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->
          <%- include('../partials/main_footer') %>
    </div>
    <!-- ./wrapper -->
    <%- include('../partials/script') %>
      <!-- AdminLTE App -->
  </body>

</html>