<!DOCTYPE html>
<html lang="zxx">
<!-- Header Section Begin -->
<%- include('../Site_partials/header') %>
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <% if (locals.product_categories) { %>
                        <% product_categories.forEach(category=> { %>
                            <% if (category.category_name == 'women' ) { %>
                                <div class="categories__item categories__large__item set-bg"
                                    data-setbg="http://localhost:8000/uploads/categoryImages/<%= category.image %>">
                                    <div class="categories__text">
                                        <h1>
                                            <%= category.category_name %>'s fashion
                                        </h1>
                                        <p>
                                            <%= category.category_desc %>
                                        </p>
                                        <a href="/category/<%= category.parent_category %>">Shop now</a>
                                    </div>
                                </div>
                                <% } %>
                                    <% }) %>
                                        <% } %>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <% if (locals.product_categories) { %>
                            <% product_categories.forEach(category=> { %>
                                <% if (category.category_name != 'women' ) { %>
                                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                                        <div class="categories__item set-bg"
                                            data-setbg="/uploads/categoryImages/<%= category.image %>">
                                            <div class="categories__text">
                                                <h4><%= category.category_name %></h4>
                                                <p><%= category.length %> items</p>
                                                <a href="#">Shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% }) %>
                                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>New product</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">All</li>
                        <% if (locals.product_categories) { %>
                            <% product_categories.forEach(product_category=> { %>
                                <li data-filter=".<%= product_category.category_name %>">
                                    <%= product_category.category_name %>
                                </li>
                                <% }) %>
                                    <% } %>
                    </ul>
                </div>
            </div>
            <div class="row property__gallery">
                <% if (locals.products) { %>
                    <% products.forEach(product=> { %>
                        <div class="col-lg-3 col-md-4 col-sm-6 mix <%= product.parent_category.category_name %> ">
                            <div class="product__item">
                                <div class="product__item__pic set-bg"
                                    data-setbg="/uploads/<%= product.product_image[0] %>">
                                    <% if (product.product_new==true) { %>
                                        <div class="label new">
                                            New
                                        </div>
                                        <% } %>
                                            <% if(product.product_on_sales==true) {%>
                                                <div class="label sale">
                                                    Sale
                                                </div>
                                                <% }%>
                                                    <ul class="product__hover">
                                                        <li><a href="http://localhost:8000/uploads/<%= product.product_image[0] %> "
                                                                class="image-popup"><span
                                                                    class="arrow_expand"></span></a>
                                                        </li>
                                                        <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                                        <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">
                                            <%= product.product_title %>
                                        </a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">$<%= product.product_price %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% } %>

            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Banner Section Begin -->
    <section class="banner set-bg" data-setbg="/images/banner/banner-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8 m-auto">
                    <div class="banner__slider owl-carousel">
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Chloe Collection</span>
                                <h1>The Project Jacket</h1>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Chloe Collection</span>
                                <h1>The Project Jacket</h1>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                        <div class="banner__item">
                            <div class="banner__text">
                                <span>The Chloe Collection</span>
                                <h1>The Project Jacket</h1>
                                <a href="/shop">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Trend Section Begin -->
    <section class="trend spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="trend__content">
                        <div class="section-title">
                            <h4>Hot Trend</h4>
                        </div>
                        <% if (locals.products) { %>
                            <% products.forEach(product=> { %>
                                <div class="trend__item">
                                    <div class="trend__item__pic" style="width: 90px; height: 90px;">
                                        <img src="/uploads/<%= product.product_image[0] %>" alt="" class="w-100">
                                    </div>
                                    <div class="trend__item__text">
                                        <h6>
                                            <%= product.product_title %>
                                        </h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product__price">$ <%= product.product_price %>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } %>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="trend__content">
                        <div class="section-title">
                            <h4>Best seller</h4>
                        </div>
                        <% if (locals.products) { %>
                            <% products.forEach(product=> { %>
                                <div class="trend__item">
                                    <div class="trend__item__pic" style="width: 90px; height: 90px;">
                                        <img src="/uploads/<%= product.product_image[0] %>" alt="" class="w-100">
                                    </div>
                                    <div class="trend__item__text">
                                        <h6>
                                            <%= product.product_title %>
                                        </h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product__price">$ <%= product.product_price %>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } %>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="trend__content">
                        <div class="section-title">
                            <h4>Feature</h4>
                        </div>
                        <% if (locals.products) { %>
                            <% products.reverse().forEach(product=> { %>
                                <div class="trend__item">
                                    <div class="trend__item__pic" style="width: 90px; height: 90px;">
                                        <img src="/uploads/<%= product.product_image[0] %>" alt="" class="w-100">
                                    </div>
                                    <div class="trend__item__text">
                                        <h6>
                                            <%= product.product_title %>
                                        </h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product__price">$ <%= product.product_price %>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Trend Section End -->

    <!-- Discount Section Begin -->
    <section class="discount">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="discount__pic">
                        <img src="/images/discount.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="discount__text">
                        <div class="discount__text__title">
                            <span>Discount</span>
                            <h2>Summer 2019</h2>
                            <h5><span>Sale</span> 50%</h5>
                        </div>
                        <div class="discount__countdown" id="countdown-time">
                            <div class="countdown__item">
                                <span>22</span>
                                <p>Days</p>
                            </div>
                            <div class="countdown__item">
                                <span>18</span>
                                <p>Hour</p>
                            </div>
                            <div class="countdown__item">
                                <span>46</span>
                                <p>Min</p>
                            </div>
                            <div class="countdown__item">
                                <span>05</span>
                                <p>Sec</p>
                            </div>
                        </div>
                        <a href="/shop">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Discount Section End -->

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-car"></i>
                        <h6>Free Shipping</h6>
                        <p>For all oder over $99</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-money"></i>
                        <h6>Money Back Guarantee</h6>
                        <p>If good have Problems</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-support"></i>
                        <h6>Online Support 24/7</h6>
                        <p>Dedicated support</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services__item">
                        <i class="fa fa-headphones"></i>
                        <h6>Payment Secure</h6>
                        <p>100% secure payment</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Instagram Begin -->
    <%- include('../Site_partials/social_links') %>
        <!-- Instagram End -->

        <!-- Footer Section Begin -->
        <%- include('../Site_partials/footer') %>
            <!-- Footer Section End -->

            <!-- Search Begin -->
            <div class="search-model">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <div class="search-close-switch">+</div>
                    <form class="search-model-form">
                        <input type="text" id="search-input" placeholder="Search here.....">
                    </form>
                </div>
            </div>
            <!-- Search End -->
            <%- include('../Site_partials/script') %>
                </body>

</html>