<!DOCTYPE html>
<html lang="en">
<!-- Header Section Begin -->
<%- include('../site_partials/header') %>

    <!-- Header Section End -->

    <!-- breadcumb begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/home"><i class="fa fa-home"></i> Home</a>
                        <span>
                            <%= singleProduct[0].product_title %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <% if (locals.singleProduct) { %>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product__details__pic">
                            <div class="product__details__pic__left product__thumb nice-scroll">
                                <% singleProduct[0].product_image?.forEach((image,i)=> { %>
                                    <a class="pt" href="#product-<%= i +1 %>">
                                        <img src="/uploads/<%= image %>" alt="" loading="lazy">
                                    </a>
                                    <% }) %>
                            </div>
                            <div class="product__details__slider__content">
                                <div class="product__details__pic__slider owl-carousel">
                                    <% singleProduct[0].product_image?.forEach((image,i)=> { %>
                                        <img src="/uploads/<%= image %>" data-hash="product-<%= i %>" alt=""
                                            class="product__big__img" loading="lazy">
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product__details__text">
                            <h3>
                                <%= singleProduct[0].product_title %> <span>Brand: <%= singleProduct[0].brand.brand_name
                                            %></span>
                            </h3>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__details__price">$ <%= singleProduct[0].product_discount %> <span>$
                                        <%= singleProduct[0].product_price %>
                                    </span></div>
                            <p>
                                <%= singleProduct[0].product_description.slice(0,40) %>
                            </p>
                            <div class="product__details__button">
                                <div class="quantity">
                                    <span>Quantity:</span>
                                    <div class="pro-qty">
                                        <input type="text" value="1" id="single_product_quantity">
                                    </div>
                                </div>
                                <button type="button" class="cart-btn" id="addtocart"
                                    data-id="<%= singleProduct[0]._id  %>">
                                    <span class="icon_bag_alt"></span>
                                    Add to cart</button>
                                <ul>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__details__widget">
                                <ul>
                                    <li>
                                        <span>Availability:</span>
                                        <div class="stock__checkbox">
                                            <% if (singleProduct[0].product_stock==false) { %>
                                                <label>
                                                    Out Of Stock
                                                </label>
                                                <% } %>
                                                    <% if (singleProduct[0].product_stock==true) { %>
                                                        <label class="p-0">
                                                            In Stock
                                                        </label>
                                                        <% } %>
                                        </div>
                                    </li>
                                    <li>
                                        <span>Available color:</span>
                                        <div class="color__checkbox">
                                            <% singleProduct[0].colors?.forEach(color=> { %>
                                                <label for="<%= color.color_name %>">
                                                    <input type="radio" name="color__radio"
                                                        id="<%= color.color_name %>">
                                                    <span class="checkmark"
                                                        style="background: <%= color.color_name.toLowerCase() %>;"></span>
                                                </label>
                                                <% }) %>
                                        </div>
                                    </li>
                                    <li>
                                        <span>Available size:</span>
                                        <div class="size__btn">
                                            <% singleProduct[0].sizeDetails?.forEach(size=> { %>
                                                <label for="<%= size.size_name %>-btn" class="active">
                                                    <input type="radio" id="xs-btn">
                                                    <%= size.size_name %>
                                                </label>
                                                <% }) %>
                                        </div>
                                    </li>
                                    <li>
                                        <span>Promotions:</span>
                                        <p>
                                            <%= singleProduct[0].shipping %>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="product__details__tab">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-1"
                                        role="tab">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2
                                        )</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                    <h6>Description</h6>
                                    <%= singleProduct[0].product_description %>
                                </div>
                                <div class="tab-pane" id="tabs-2" role="tabpanel">
                                    <h6>Specification</h6>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret
                                        fugit,
                                        sed
                                        quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
                                        loret.
                                        Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim
                                        ipsam
                                        voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia
                                        ipsu
                                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                        consequat massa quis enim.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                        ligula
                                        eget
                                        dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                        montes,
                                        nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                                        pretium
                                        quis, sem.</p>
                                </div>
                                <div class="tab-pane" id="tabs-3" role="tabpanel">
                                    <h6>Reviews ( 2 )</h6>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret
                                        fugit,
                                        sed
                                        quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
                                        loret.
                                        Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim
                                        ipsam
                                        voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia
                                        ipsu
                                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                        consequat massa quis enim.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                        ligula
                                        eget
                                        dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                        montes,
                                        nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                                        pretium
                                        quis, sem.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="related__title">
                            <h5>RELATED PRODUCTS</h5>
                        </div>
                    </div>
                    <% if (locals.relatedProducts) { %>
                        <% relatedProducts.forEach(product=> { %>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg"
                                        data-setbg="/uploads/<%= product.product_image[0] %>">
                                        <% if (product.product_new==true) { %>
                                            <div class="label new"> New </div>
                                            <% } %>
                                                <% if( product.product_on_sales==true) { %>
                                                    <div class="label sale">Sale
                                                    </div>
                                                    <% }%>
                                                        <ul class="product__hover">
                                                            <li>
                                                                <a href="/uploads/<%= product.product_image[0] %>"
                                                                    class="image-popup">
                                                                    <span class="arrow_expand"></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <button>
                                                                    <span class="icon_heart_alt like"></span>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button class="cart" data-id="<%= product._id %>">
                                                                    <span class="icon_bag_alt"></span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>
                                            <a href="/product/<%= product._id%>">
                                                <%= product.product_title %>
                                            </a>
                                        </h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product__price">
                                            $ <%= product.product_price %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } %>
                </div>
            </div>
            <% } %>
    </section>
    <!-- Product Details Section End -->
    <!-- Instagram Begin -->
    <%- include('../site_partials/social_links') %>
        <!-- Instagram End -->

        <!-- Footer Section Begin -->
        <%- include('../site_partials/footer') %>
            <!-- Footer Section End -->

            <!-- Search Begin -->
            <div class="search-model">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <div class="search-close-switch">+</div>
                    <form class="search-model-form">
                        <input type="text" id="search-input" placeholder="Search here.....">
                    </form>
                </div>
            </div>
            <!-- Search End -->
            <%- include('../site_partials/script') %>
                <script>
                    const cartBtn = document.querySelector('#addtocart')
                    cartBtn.onclick = async () => {
                        const quantity = document.querySelector('#single_product_quantity')
                        const productId = cartBtn.dataset.id;

                        // if (quantity.value) {
                        //     await fetch(`http://localhost:8000/updatecart/${productId}`, {
                        //         method: 'PUT',
                        //         headers: { 'Content-Type': 'application/json' },
                        //         body: JSON.stringify({
                        //             product_details: {
                        //                 pid: productId, quantity: parseInt(quantity.value),
                        //             }
                        //         })
                        //     })
                        // }
                        await fetch('http://localhost:8000/addtocart', {
                            method: 'PUT',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                product_cart: { product_details: { pid: productId ,quantity: parseInt(quantity.value)} }
                            })
                        })
                    }
                </script>
                </body>

</html>