<!DOCTYPE html>
<html lang="en">
<!-- Header Section Begin -->
<%- include('../site_partials/header') %>

    <!-- Header Section End -->
    <!-- breadcumb begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/home"><i class="fa fa-home"></i> Home</a>
                        <span>cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="cartBody">
                                <% if (locals.products) { %>
                                    <% products[0].cartproduct?.forEach(product=> { %>
                                        <tr id="p-<%= product._id %>" class="rows">
                                            <td class="cart__product__item">
                                                <input type="text" hidden class="price"
                                                    value="<%= product.product_discount %>">
                                                <input type="text" hidden class="p_id" value="<%= product._id %>">
                                                <input type="text" hidden value="0" class="product_total">
                                                <img src="http://localhost:8000/uploads/<%= product.product_image[0] %>"
                                                    alt="" class="img-fluid" style="width: 150px; height: 200px;">
                                                <div class="cart__product__item__title">
                                                    <h6>
                                                        <%= product.product_title %>
                                                    </h6>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="cart__price">
                                                $ <%= product.product_discount %>
                                            </td>
                                            <td class="cart__quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="0" class="product_quantity">
                                                </div>
                                            </td>
                                            <td class="cart__total"> $ 0
                                            </td>
                                            <td class="cart__close">
                                                <span class="icon_close" onclick="(()=>{
                                                const pId = document.getElementById('p-<%= product._id %>');
                                                pId.remove()
                                                UPdateCartProduct('<%= product._id %>')
                                            })()"></span>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="/shop">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#" id="Updatecart"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span id="subtotal"></span></li>
                            <li>Total <span id="total"></span></li>
                        </ul>
                        <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->

    <!-- Instagram Begin -->
    <%- include('../site_partials/social_links') %>
        <!-- Instagram End -->

        <!-- Footer Section Begin -->
        <%- include('../site_partials/footer') %>
            <!-- Footer Section End -->

            <!-- Search Begin -->
            <div class="search-model">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <div class="search-close-switch">+</div>
                    <form class="search-model-form">
                        <input type="text" id="search-input" placeholder="Search here.....">
                    </form>
                </div>
            </div>
            <!-- Search End -->
            <%- include('../site_partials/script') %>
                <script>
                    async function UPdateCartProduct(id) {
                        await fetch(`http://localhost:8000/Shoppping/cart/${id}`, { method: 'PUT', })
                    }
                    const rows = document.querySelectorAll('.rows')

                    let grandTotal = 0;
                    document.querySelector('#Updatecart').addEventListener('click', (e) => {
                        e.preventDefault()

                        rows.forEach((row, i) => {
                            const id = row.querySelector('.p_id')
                            const quantity = row.querySelector('.product_quantity')
                            const price = row.querySelector('.price')
                            const total = row.querySelector('.product_total')
                            
                            if (grandTotal <= parseInt(total.value)) grandTotal += parseInt(total.value)

                            updateshopppingCart(id.value, price.value, quantity.value, total.value, grandTotal)
                        })
                        document.querySelector('#subtotal').innerHTML = `$${grandTotal}`
                        document.querySelector('#total').innerHTML = `$${grandTotal}`
                    })


                    async function updateshopppingCart(id, p_price, p_quantity, p_total, grandtotal) {
                        await fetch(`http://localhost:8000/updatecart/${id}`, {
                            method: 'PUT',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({
                                grandTotal: grandtotal,
                                product_details: {
                                    pid: id,
                                    price: parseInt(p_price),
                                    quantity: parseInt(p_quantity),
                                    total: parseInt(p_total)
                                }
                            })
                        })
                    }
                </script>
                </body>

</html>