<!DOCTYPE html>
<html lang="en">
<!-- Header Section Begin -->
<%- include('../site_partials/header') %>

    <!-- Header Section End -->
    <!-- breadcumb begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/home"><i class="fa fa-home"></i> Home</a>
                        <a href="/blogs">Blog</a>
                        <span>
                            <% if (locals.blog) { %>
                                <input type="text" hidden value="<%= blog[0]._id %>" id="blogID">
                                <%= blog[0].blog_title %>
                                    <% } %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <% if (locals.blog) { %>
                        <div class="blog__details__content">
                            <div class="blog__details__item" style="width: 100%;">
                                <img src="http://localhost:8000/uploads/blogsImages/<%= blog[0].blog_image %> " alt=""
                                    style="object-fit: cover;" loading="lazy">
                                <div class="blog__details__item__title">
                                    <span class="tip">
                                        <%= blog[0].category.category%>
                                    </span>
                                    <h4>
                                        <%= blog[0].blog_title %>
                                    </h4>
                                    <ul>
                                        <li>by <span>
                                                <%= blog[0].author %>
                                            </span></li>
                                        <li>
                                            <%= blog[0].formattedDate %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog__details__desc">
                                <p>
                                    <%- blog[0].blog_description %>
                                </p>
                            </div>
                            <% } %>
                                <div class="blog__details__tags">
                                    <% if (locals.Postcategories) { %>
                                        <% Postcategories.forEach(category=> { %>
                                            <a href="/blog/category/<%= category.category_name %>">
                                                <%= category.category_name %>
                                            </a>
                                            <% }) %>
                                                <% } %>
                                </div>
                                <div class="blog__details__btns">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="blog__details__btn__item">
                                                <h6><a href="#"><i class="fa fa-angle-left"></i> Previous posts</a>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="blog__details__btn__item blog__details__btn__item--next">
                                                <h6><a href="#">Next posts <i class="fa fa-angle-right"></i></a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" name="comment" placeholder="Leave a comment here"
                                        id="floatingTextarea"></textarea>
                                </div>
                                <div class="blog__details__comment">
                                    <h5>
                                        <%= postComments[0]?.comments.length ?? 0 %> Comment
                                    </h5>
                                    <a href="#" class="leave-btn">Leave a
                                        comment</a>
                                        <% if (locals.postComments) { %>
                                            <% postComments[0]?.comments.forEach(comment=> { %>
                                                <div class="blog__comment__item">
                                                    <div class="blog__comment__item__pic" style="width: 85px;">
                                                        <img src="http://localhost:8000/images/<%= comment.user_image %>"
                                                            alt="" class="img-fluid">
                                                    </div>
                                                    <div class="blog__comment__item__text">
                                                        <h6>
                                                            <%= comment.user_name %>
                                                        </h6>
                                                        <p>
                                                            <%= comment.comment %>
                                                        </p>
                                                        <ul>
                                                            <li>
                                                                <i class="fa fa-clock-o"></i>
                                                                <% const date=comment.date %>
                                                                    <%= date.toLocaleDateString() %>
                                                            </li>
                                                            <li style="cursor: pointer;" id="like"
                                                                onclick="increaseLike('<%= comment._id %>','<%= comment.likes %>')">
                                                                <i id="heart" class="fa fa-heart-o mr-2"></i>
                                                                <%= comment.likes %>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <% }) %>
                                                    <% } %>
    
                                </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__item">
                            <div class="section-title">
                                <h4>Categories</h4>
                            </div>
                            <ul>
                                <% if (locals.Postcategories) { %>
                                    <% let count=0; %>

                                        <% Postcategories.forEach(category=> { %>
                                            <% count +=category.length %>
                                                <li>
                                                    <a href="/blog/category/<%= category.category_name %>">
                                                        <%= category.category_name %>
                                                            <span>
                                                                <%= category.length %>
                                                            </span>
                                                    </a>
                                                </li>
                                                <% }) %>
                                                    <li>
                                                        <a href="/blogs">All 
                                                            <span>
                                                                <%= count %>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <% } %>
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            <div class="section-title">
                                <h4>Feature posts</h4>
                            </div>
                            <% if (locals.featuredPosts) { %>
                                <% featuredPosts.forEach(post=> { %>
                                    <a href="/singleblog/<%= post.blog_slug %> " class="blog__feature__item">
                                        <div class="blog__feature__item__pic" style="width:150px; height: 100px;">
                                            <img src="http://localhost:8000/uploads/blogsImages/<%= post.blog_image %>"
                                                alt="" class="img-fluid">
                                        </div>
                                        <div class="blog__feature__item__text">
                                            <h6>
                                                <%= post.blog_title %>
                                            </h6>
                                            <span>
                                                <%= post.formattedDate %>
                                            </span>
                                        </div>
                                    </a>
                                    <% }) %>
                                        <% } %>
                        </div>
                        <div class="blog__sidebar__item">
                            <div class="section-title">
                                <h4>Tags cloud</h4>
                            </div>
                            <div class="blog__sidebar__tags">
                                <% if (locals.postTags) { %>
                                    <% postTags.forEach(tag=> { %>
                                       <% if (tag.postLength != 0) { %>
                                        <a href="/blog/tag/<%= tag.tag_name %>">
                                            <%= tag.tag_name %>
                                        </a>
                                       <% } %>
                                        <% }) %>
                                            <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
    <!-- Instagram Begin -->
    <%- include('../site_partials/social_links') %>
        <!-- Instagram End -->

        <!-- Footer Section Begin -->
        <%- include('../site_partials/footer') %>
            <!-- Footer Section End -->

            <!-- Search Begin -->
            <div class="search-model">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <div class="search-close-switch">+</div>
                    <form class="search-model-form">
                        <input type="text" id="search-input" placeholder="Search here.....">
                    </form>
                </div>
            </div>
            <!-- Search End -->
            <%- include('../site_partials/script') %>
                <script defer>

                    async function increaseLike(id, likes) {
                        let like = parseInt(likes);
                        like += 1;
                        if (id == id) document.querySelector('#like').classList.remove('disabled')
                        await fetch(`http://localhost:8000/api/comment/${id}`, {
                            method: 'PUT',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ likes: like })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.likes) {
                                    document.querySelector('#like').classList.add('disabled')
                                    document.querySelector('#heart').classList.remove('fa-heart-o')
                                    document.querySelector('#heart').classList.add('fa-heart')
                                }
                            })
                    }
                    if (document.querySelector('#like')) {
                        if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
                            document.querySelector('#like').classList.add('disabled')
                        }
                    }
                    document.querySelector('.leave-btn').addEventListener('click', async (e) => {
                        e.preventDefault()
                        const id = document.querySelector('#blogID').value.trim();
                        const comment = document.querySelector('#floatingTextarea')
                        await fetch(`http://localhost:8000/api/comment/${id}`, {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json', },
                            body: JSON.stringify({
                                comment: comment.value.trim(),
                                postId: id
                            })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data) {
                                    comment.value = ''
                                    toastr.success('You Comment Has Been Sent For Approval!')
                                }
                            })
                    })
                </script>
                </body>

</html>