<!DOCTYPE html>
<html lang="en">
<!-- Header Section Begin -->
<%- include('../site_partials/header') %>

    <!-- Header Section End -->

    <!-- breadcumb begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/home"><i class="fa fa-home"></i> Home</a>
                        <span>Account</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Section Begin -->
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="/myorders" class="text-black-50">Orders</a>
                    <a href="Wishlist" class="ml-3 text-black text-black-50">Wishlist</a>
                </div>
                <div class="col-md-6">
                    <a href="/logout" class="float-right">Log Out</a>
                </div>
            </div>
        </div>
        <% if (!locals.userorderDetails) { %>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center my-5 text-bold">Welcome</h1>
                    </div>
                </div>
            </div>
            <% } else { %>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-12">
                            <% if (locals.userorderDetails) { %>
                                <% userorderDetails.collectionData?.forEach(order=> { %>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">order_id</label>
                                                <input type="text" class="form-control"
                                                    value="<%= order.razorpay_order_id %> ">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Payment_id</label>
                                                <input type="text" class="form-control"
                                                    value="<%= order.razorpay_payment_id %> ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Order Status</label>
                                                <input type="text" class="form-control"
                                                    value="<%= order.status %> ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shop__cart__table mt-3">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (order?.items) { %>
                                                    <% for( let i=0; i < order.items.length; i++ ) { %>
                                                        <% let product = order.products %>
                                                            <tr id="<%= product[i]?._id %>">
                                                                <td class="cart__product__item">
                                                                    <img src="http://localhost:8000/uploads/productImages/<%= product[i]?.featured_image %>"
                                                                        alt="" class="img-fluid"
                                                                        style="width: 80px; height: 100px;">
                                                                    <div class="cart__product__item__title">
                                                                        <h6>
                                                                            <%= product[i]?.product_title %>
                                                                        </h6>
                                                                        <div class="rating">
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="cart__price">
                                                                    $ <%= product[i]?.product_discount %>
                                                                </td>
                                                                <td class="cart__price">
                                                                    <%= order.items[i]?.quantity %>
                                                                </td>
                                                                <td class="cart__price">
                                                                    $<%= order.items[i]?.quantity *
                                                                        product[i]?.product_discount %>
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <% }) %>
                                        <% } %>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <div class="pagination__option">
                            <% if (locals.userorderDetails) { %>
                                <% if (userorderDetails.totalDocs> userorderDetails.limit) { %>
                                    <% for( let i=1; i<=userorderDetails.totalPages; ++i ) { %>
                                        <a href="/myorders/<%= i  %>">
                                            <%= i %>
                                        </a>
                                        <% } %>
                                            <% } %>
                                                <% } %>

                        </div>
                    </div>
                </div>
                <% } %>
    </section>
    <!-- Shop Section End -->
    <!-- Instagram Begin -->
    <%- include('../site_partials/social_links') %>
        <!-- Instagram End -->

        <!-- Footer Section Begin -->
        <%- include('../site_partials/footer') %>
            <!-- Footer Section End -->

            <!-- Search Begin -->
            <div class="search-model">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <div class="search-close-switch">+</div>
                    <form class="search-model-form">
                        <input type="text" id="search-input" placeholder="Search here.....">
                    </form>
                </div>
            </div>
            <!-- Search End -->
            <%- include('../site_partials/script') %>
                </body>

</html>