<html lang="en">
<%- include('../../partials/header') %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">

            <!-- Preloader -->
            <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60"
                    width="60">
            </div>

            <!-- Navbar -->
            <%- include('../../partials/navbar') %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include('../../partials/sidebar') %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6 d-flex">
                                        <h1>Blog Category</h1>
                                        <button type="button" class="btn btn-default mx-2 bg-primary"
                                            data-toggle="modal" data-target="#modal-default">
                                            Add Category
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active">Blog Category</li>
                                        </ol>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                    <div class="row mb-3">
                                                        <div class="col-sm-12 col-md-6 d-flex align-items-center">
                                                            <h3 class="card-title">All Category</h3>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6">
                                                            <div id="example1_filter" class="dataTables_filter">
                                                                <label>Search:<input type="search"
                                                                        class="form-control form-control-sm"
                                                                        placeholder="" aria-controls="example1"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <table id="example2"
                                                                class="table table-bordered table-hover dataTable dtr-inline"
                                                                aria-describedby="example2_info">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="sorting sorting_asc" tabindex="0"
                                                                            aria-controls="example2" rowspan="1"
                                                                            colspan="1" aria-sort="ascending"
                                                                            aria-label="Rendering engine: activate to sort column descending">
                                                                            Rendering engine</th>
                                                                        <th class="sorting" tabindex="0"
                                                                            aria-controls="example2" rowspan="1"
                                                                            colspan="1"
                                                                            aria-label="Browser: activate to sort column ascending">
                                                                            Browser</th>
                                                                        <th class="sorting" tabindex="0"
                                                                            aria-controls="example2" rowspan="1"
                                                                            colspan="1"
                                                                            aria-label="Platform(s): activate to sort column ascending">
                                                                            Platform(s)</th>
                                                                        <th class="sorting" tabindex="0"
                                                                            aria-controls="example2" rowspan="1"
                                                                            colspan="1"
                                                                            aria-label="Engine version: activate to sort column ascending">
                                                                            Engine version</th>
                                                                        <th class="sorting" tabindex="0"
                                                                            aria-controls="example2" rowspan="1"
                                                                            colspan="1"
                                                                            aria-label="CSS grade: activate to sort column ascending">
                                                                            CSS grade</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="odd">
                                                                        <td class="dtr-control sorting_1" tabindex="0">
                                                                            Gecko</td>
                                                                        <td>Firefox 1.0</td>
                                                                        <td>Win 98+ / OSX.2+</td>
                                                                        <td>1.7</td>
                                                                        <td>A</td>
                                                                    </tr>
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <th rowspan="1" colspan="1">Rendering engine
                                                                        </th>
                                                                        <th rowspan="1" colspan="1">Browser</th>
                                                                        <th rowspan="1" colspan="1">Platform(s)</th>
                                                                        <th rowspan="1" colspan="1">Engine version</th>
                                                                        <th rowspan="1" colspan="1">CSS grade</th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-5">
                                                            <div class="dataTables_info" id="example2_info"
                                                                role="status" aria-live="polite">Showing 1 to 10 of 57
                                                                entries</div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-7">
                                                            <div class="dataTables_paginate paging_simple_numbers"
                                                                id="example2_paginate">
                                                                <ul class="pagination">
                                                                    <li class="paginate_button page-item previous disabled"
                                                                        id="example2_previous"><a href="#"
                                                                            aria-controls="example2" data-dt-idx="0"
                                                                            tabindex="0" class="page-link">Previous</a>
                                                                    </li>
                                                                    <li class="paginate_button page-item active"><a
                                                                            href="#" aria-controls="example2"
                                                                            data-dt-idx="1" tabindex="0"
                                                                            class="page-link">1</a></li>
                                                                    <li class="paginate_button page-item "><a href="#"
                                                                            aria-controls="example2" data-dt-idx="2"
                                                                            tabindex="0" class="page-link">2</a></li>
                                                                    <li class="paginate_button page-item "><a href="#"
                                                                            aria-controls="example2" data-dt-idx="3"
                                                                            tabindex="0" class="page-link">3</a></li>
                                                                    <li class="paginate_button page-item "><a href="#"
                                                                            aria-controls="example2" data-dt-idx="4"
                                                                            tabindex="0" class="page-link">4</a></li>
                                                                    <li class="paginate_button page-item "><a href="#"
                                                                            aria-controls="example2" data-dt-idx="5"
                                                                            tabindex="0" class="page-link">5</a></li>
                                                                    <li class="paginate_button page-item "><a href="#"
                                                                            aria-controls="example2" data-dt-idx="6"
                                                                            tabindex="0" class="page-link">6</a></li>
                                                                    <li class="paginate_button page-item next"
                                                                        id="example2_next"><a href="#"
                                                                            aria-controls="example2" data-dt-idx="7"
                                                                            tabindex="0" class="page-link">Next</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
        </div>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Category</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="createcategory">Category</label>
                                        <input type="text" name="category" id="createcategory" class="form-control"
                                            placeholder="Enter Category">
                                        <div class="error bg-danger p-2 rounded mt-2" style="display: none;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <!-- <button type="submit" id="addCategory" class="btn btn-primary">Save changes</button> -->
                            <button type="submit" id="addCategory" class="btn btn-primary toastrDefaultSuccess">
                                Save changes
                            </button>
                            <div id="toast-container" class="toast-top-right">
                                <div class="toast toast-success" aria-live="polite" style="opacity: 0;">
                                    <div class="toast-message"></div>
                                </div>
                                <div class="toast toast-error" aria-live="polite" style="opacity: 0;">
                                    <div class="toast-message">
                                        <% if (locals.message) { %>
                                         <%= message %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- ./wrapper -->
        <%- include('../../partials/footer') %>
        <script>
                const SuccesToast = document.querySelector('#toast-container .toast-success');
                const ErrorToast = document.querySelector('#toast-container .toast-error');

                document.querySelector('#addCategory').addEventListener('click', async (e) => {
                    e.preventDefault();
                    let category = document.querySelector('#createcategory');

                    if (!category.value) return
                    await fetch('http://localhost:8000/blog/api/createCategory', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ category: category.value.trim() })
                    })
                        .then(response => response.json())
                        .then(data => {
                            category.value = ''

                            if (data.message == 'Category created successfully') {
                                SuccesToast.style.opacity = '1';
                                document.querySelector('.toast-success .toast-message').innerHTML = data.message
                            } else if (data.message == 'Category already exists!') {
                                ErrorToast.style.opacity = '1';
                                document.querySelector('.toast-error .toast-message').innerHTML = data.message
                            } else {
                                ErrorToast.style.opacity = '1';
                                document.querySelector('.toast-error .toast-message').innerHTML = data.message
                            }
                        })
                    setTimeout(() => {
                        ErrorToast.style.opacity = '0';
                        SuccesToast.style.opacity = '0';
                    }, 3000);
                })
            </script>
    </body>

</html>