<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header') %>
    </head>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <!-- Navbar -->
            <%- include('../../partials/navbar') %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include('../../partials/sidebar') %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6 d-flex">
                                        <h1>Blog Comments</h1>
                                    </div>
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active">Comments</li>
                                        </ol>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">All Blogs</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <table id="example1"
                                                    class="table table-bordered table-striped dataTable dtr-inline"
                                                    aria-describedby="example1_info">
                                                    <thead>
                                                        <tr>
                                                            <th class="sorting sorting_asc" tabindex="0"
                                                                aria-controls="example1" rowspan="1" colspan="1"
                                                                aria-sort="ascending"
                                                                aria-label="Rendering engine: activate to sort column descending">
                                                                S.No</th>
                                                            <th class="sorting sorting_asc" tabindex="0"
                                                                aria-controls="example1" rowspan="1" colspan="1"
                                                                aria-sort="ascending"
                                                                aria-label="Rendering engine: activate to sort column descending">
                                                                Comment</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1"
                                                                rowspan="1" colspan="1"
                                                                aria-label="Platform(s): activate to sort column ascending">
                                                                User</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1"
                                                                rowspan="1" colspan="1"
                                                                aria-label="Engine version: activate to sort column ascending">
                                                                Date</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1"
                                                                rowspan="1" colspan="1"
                                                                aria-label="Engine version: activate to sort column ascending">
                                                                Status</th>
                                                            <th class="sorting" tabindex="0" aria-controls="example1"
                                                                rowspan="1" colspan="1"
                                                                aria-label="CSS grade: activate to sort column ascending">
                                                                Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if (locals.comments) { %>
                                                            <% comments.forEach((comment,i)=> { %>
                                                                <tr id="row-<%= comment._id %>">
                                                                    <td>
                                                                        <%= i+1 %>
                                                                    </td>
                                                                    <td>
                                                                        <%= comment.comment %>
                                                                    </td>
                                                                    <td>
                                                                        <%= comment.user_name %>
                                                                    </td>
                                                                    <td>
                                                                        <% const date=comment.date %>
                                                                            <%= date.toLocaleDateString() %>
                                                                    </td>
                                                                    <td>
                                                                        <% if (comment.status == true) { %>
                                                                         <p>Approve</p>
                                                                        <% } else { %>
                                                                            <p>UnApprove</p>
                                                                        <% } %>
                                                                    </td>
                                                                    <td>
                                                                        <button class="toast-btn btn btn-block btn-success toastrDefaultError" onclick="( async()=>{
                                                                            await fetch('http://localhost:8000/admin/blog/comment/<%=  comment._id %>', {
                                                                                method:'PUT',
                                                                                headers: { 'Content-Type': 'application/json' },
                                                                                body:JSON.stringify({status:true})
                                                                            })
                                                                            .then(response => response.json())
                                                                            .then(data => window.location.reload())
                                                                        })()">Approve</button>
                                                                        <button class="toast-btn btn btn-block btn-danger toastrDefaultError" onclick="(async (e)=> { 
                                                                            const row = document.querySelector('#row-'+'<%= comment._id  %>');
                                                                                await fetch('http://localhost:8000/admin/blog/comment/' + '<%= comment._id  %>', {
                                                                                  method: 'DELETE',
                                                                                 })
                                                                                .then(response => response.json())
                                                                                .then(data => { 
                                                                                  row.remove()
                                                                                  AlertMessage(data.message,'','Successfully Deleted!')
                                                                                })
                                                                              })()">Delete</button>
                                                                    </td>
                                                                </tr>
                                                                <% }) %>
                                                                    <% } %>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th rowspan="1" colspan="1">S.NO</th>
                                                            <th rowspan="1" colspan="1">Comment</th>
                                                            <th rowspan="1" colspan="1">User</th>
                                                            <th rowspan="1" colspan="1">Date</th>
                                                            <th rowspan="1" colspan="1">Status</th>
                                                            <th rowspan="1" colspan="1">Actions</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <%- include('../../partials/main_footer') %>
        </div>
        <!-- ./wrapper -->
        <%- include('../../partials/script') %>
            <script>
            </script>
            <!-- AdminLTE App -->
    </body>

</html>