<html lang="en">
<%- include('../../partials/header') %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">

            <!-- Preloader -->
            <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60"
                    width="60">
            </div>

            <!-- Navbar -->
            <%- include('../../partials/navbar') %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include('../../partials/sidebar') %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6 d-flex">
                                        <h1>Blog Category</h1>
                                        <button type="button" class="btn btn-default mx-2 bg-primary"
                                            data-toggle="modal" data-target="#modal-default">
                                            Add Category
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active">Blog Category</li>
                                        </ol>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">All Blogs</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div id="example1_wrapper"
                                                                class="dataTables_wrapper dt-bootstrap4">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <table id="example1"
                                                                            class="table table-bordered table-striped dataTable dtr-inline"
                                                                            aria-describedby="example1_info">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="sorting sorting_asc"
                                                                                        tabindex="0"
                                                                                        aria-controls="example1"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="
                                                                            S.No: activate to sort column descending"
                                                                                        aria-sort="ascending">
                                                                                        S.No</th>
                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="example1"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="
                                                                            Blog Title: activate to sort column ascending">
                                                                                        Category Name</th>
                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="example1"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="
                                                                            Blog Image: activate to sort column ascending">
                                                                                        No of Posts</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="blogTable">
                                                                                <% if (locals.allPostsByCategory) { %>
                                                                                    <% allPostsByCategory.forEach((element,i)=> { %>
                                                                                        <tr>
                                                                                            <td class="dtr-control sorting_1"
                                                                                                tabindex="0">
                                                                                                <%= i+1 %>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%= element.category_name %>
                                                                                            </td>
                                                                                            <td>
                                                                                                <%= element.length %>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <% }) %>
                                                                                            <% } %>
                                                                            </tbody>
                                                                            <tfoot>
                                                                                <tr>
                                                                                    <th rowspan="1" colspan="1">S.NO</th>
                                                                                    <th rowspan="1" colspan="1">Category Name </th>
                                                                                    <th rowspan="1" colspan="1">No of Posts </th>
                                                                                </tr>
                                                                            </tfoot>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
        </div>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Category</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="createcategory">Category</label>
                                        <input type="text" name="category" id="createcategory" class="form-control"
                                            placeholder="Enter Category">
                                        <div class="error bg-danger p-2 rounded mt-2" style="display: none;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <!-- <button type="submit" id="addCategory" class="btn btn-primary">Save changes</button> -->
                            <button type="submit" id="addCategory" class="btn btn-primary toastrDefaultSuccess">
                                Save changes
                            </button>
                            <div id="toast-container" class="toast-top-right">
                                <div class="toast toast-success" aria-live="polite" style="opacity: 0;">
                                    <div class="toast-message"></div>
                                </div>
                                <div class="toast toast-error" aria-live="polite" style="opacity: 0;">
                                    <div class="toast-message">
                                        <% if (locals.message) { %>
                                            <%= message %>
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- ./wrapper -->
        <%- include('../../partials/footer') %>
            <script>
                const SuccesToast = document.querySelector('#toast-container .toast-success');
                const ErrorToast = document.querySelector('#toast-container .toast-error');

                document.querySelector('#addCategory').addEventListener('click', async (e) => {
                    e.preventDefault();
                    let category = document.querySelector('#createcategory');
                    console.log(category.value);

                    if (!category.value) return
                    await fetch('http://localhost:8000/admin/api/createCategory', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ category: category.value.trim() })
                    })
                        .then(response => response.json())
                        .then(data => {
                            category.value = ''

                            if (data.message == 'Category created successfully') {
                                SuccesToast.style.opacity = '1';
                                document.querySelector('.toast-success .toast-message').innerHTML = data.message
                            } else if (data.message == 'Category already exists!') {
                                ErrorToast.style.opacity = '1';
                                document.querySelector('.toast-error .toast-message').innerHTML = data.message
                            } else {
                                ErrorToast.style.opacity = '1';
                                document.querySelector('.toast-error .toast-message').innerHTML = data.message
                            }
                        })
                    setTimeout(() => {
                        ErrorToast.style.opacity = '0';
                        SuccesToast.style.opacity = '0';
                    }, 3000);
                })
            </script>
    </body>

</html>