<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header') %>
    </head>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <!-- Navbar -->
            <%- include('../../partials/navbar') %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include('../../partials/sidebar') %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6 d-flex">
                                        <h1>Blog </h1>
                                    </div>
                                    <div class="col-sm-6">
                                        <ol class="breadcrumb float-sm-right">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item active">Update Blog</li>
                                        </ol>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Update Blog</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                                <% if (locals.post && locals.categories) { %>
                                                    <form id="updatePost" enctype="multipart/form-data">
                                                        <div class="row mb-2">
                                                            <!-- /.col -->
                                                            <div class="col-md-6">
                                                                <!-- /.form-group -->
                                                                <div class="form-group">
                                                                    <label for="title">Blog Title</label>
                                                                    <input type="text" name="blog_title" id="title"
                                                                        value="<%= post.blog_title %>" class="form-control"
                                                                        placeholder="Enter Title">
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="row mb-4">
                                                                        <div class="col-12 mb-3">
                                                                            <label>Thumbnail Image</label>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <input type="file" id="imageInput"
                                                                                class="custom-file-input" name="blog_image">
                                                                            <label class="custom-file-label">Choose file</label>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <img id="imageTag"
                                                                                src="http://localhost:8000/uploads/blogsImages/<%= post.blog_image %>"
                                                                                alt="" style="width: 180px;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- /.form-group -->
                                                            </div>
                                                            <!-- /.col -->
                                                            <!-- /.col -->
                                                            <div class="col-md-6">
                                                                <!-- /.form-group -->
                                                                <div class="form-group">
                                                                    <label for="categoryBox">Category</label>
                                                                    <select id="categoryBox" name="category_id"
                                                                        class="form-control">
                                                                        <option selected value="<%= post.category_id %>">
                                                                            <%= post.category_name.category %>
                                                                        </option>
                                                                        <% categories.forEach(category=> { %>
                                                                            <option value="<%= category._id %>">
                                                                                <%= category.category %>
                                                                            </option>
                                                                            <% }) %>
                                                                    </select>
                                                                </div>
                                                                <!-- /.form-group -->
                                                            </div>
                                                            <!-- /.col -->
                                                
                                                            <div class="col-md-12">
                                                                <textarea id="summernote" name="blog_description">
                                                                    <%= post.blog_description %>
                                                                  </textarea>
                                                            </div>
                                                            <!-- /.col-->
                                                        </div>
                                                        <button type="submit" class="border-0 rounded p-2 bg-primary">Submit
                                                        </button>
                                                        <div id="toast-container" class="toast-top-right">
                                                            <div class="toast toast-success" aria-live="polite"
                                                                style="opacity: 0;">
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <% } %>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <%- include('../../partials/main_footer') %>

        </div>
        <!-- ./wrapper -->
        <%- include('../../partials/script') %>
            <!-- AdminLTE App -->
            <script async>
                const inputField = document.getElementById('imageInput');
                const imageTag = document.getElementById('imageTag');

                inputField.addEventListener('change', (e) => {
                    const file = e.target.files[0]
                    const reader = new FileReader()
                    reader.onload = () => {
                        imageTag.src = reader.result;
                    };
                    reader.readAsDataURL(file)
                })
                document.querySelector('#updatePost').addEventListener('submit', async (e) => {
                    e.preventDefault();
                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    const id = urlParams.get('id');

                    const blog_description = $('#summernote').summernote('code').trim()
                    const formData = new FormData(e.target)
                    formData.append('blog_description', blog_description)
                    formData.append('blog_image', inputField.value)

                    await fetch(`http://localhost:8000/admin/update/blog?id=${id}`, {
                        method: 'PUT',
                        body: formData
                    })
                        .then(response => response.json())
                        .then(data => {
                            AlertMessage(data.message, 'Update Unsuccessfull!','Update Successfully!')
                        })
                })

                function AlertMessage(message, erroMessage, sucsessMessage) {
                    const ToastElement = document.querySelector('#toast-container .toast')

                    ToastElement.style.opacity = '1'
                    if (erroMessage == message) {
                        ToastElement.classList.remove('toast-success')
                        ToastElement.classList.add('toast-error')
                        ToastElement.innerHTML = message
                    } else if (sucsessMessage == message) {
                        ToastElement.classList.remove('toast-error')
                        ToastElement.classList.add('toast-success')
                        ToastElement.innerHTML = message
                    }
                    setTimeout(() => {
                        ToastElement.style.opacity = '0'
                    }, 3000)
                }
            </script>
    </body>

</html>