<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header') %>
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../../partials/navbar') %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%- include('../../partials/sidebar') %>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6 d-flex">
                    <h1>Category</h1>
                    <button type="button" class="btn btn-default mx-2 bg-primary" data-toggle="modal"
                      data-target="#modal-default">
                      Add Category
                    </button>
                  </div>
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Product Attributes</li>
                    </ol>
                  </div>
                </div>
              </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Update Blog</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                          aria-describedby="example1_info">
                          <thead>
                            <tr>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                S.No</th>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                Category</th>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                Image</th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Browser: activate to sort column ascending">
                                Sub Category</th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Platform(s): activate to sort column ascending">
                                Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if (locals.categories) { %>
                              <% categories.forEach((category,i)=> { %>
                                <tr>
                                  <td>
                                    <%= i + 1 %>
                                  </td>
                                  <td>
                                    <%= category.category_name %>
                                  </td>
                                  <td style="width: 150px; height: 150px;">
                                    <img src="http://localhost:8000/uploads/categoryImages/<%= category.image %>" alt=""
                                      class="img-fluid d-block">
                                  </td>
                                  <td>
                                    <% category.sub_categories.forEach(category=> { %>
                                      <p class="m-0 float-left mx-1">
                                        <%= category.category_name %>
                                      </p>
                                      <% }) %>
                                  </td>
                                  <td>
                                    <button type="button" class="btn btn-primary"
                                      onclick="(()=>{ window.location.href = 'category/update/<%= category._id %>'})()">Edit</button>
                                    <% if (category.sub_categories.length==0) { %>
                                      <button type="button" class="btn btn-danger deletePcategory"
                                        data-id="<%= category._id %>" data-toggle="modal" data-target="#modal-danger">
                                        Delete</button>
                                      <% } %>
                                  </td>
                                </tr>
                                <% }) %>
                                  <% } %>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th rowspan="1" colspan="1">S.NO</th>
                              <th rowspan="1" colspan="1">Category</th>
                              <th rowspan="1" colspan="1">Image</th>
                              <th rowspan="1" colspan="1">Sub Category</th>
                              <th rowspan="1" colspan="1">Actions</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6 d-flex">
                    <h1>Product Color</h1>
                    <button type="button" class="btn btn-default mx-2 bg-primary" data-toggle="modal"
                      data-target="#modal-2">
                      Add Color
                    </button>
                  </div>
                  <div class="col-sm-6 d-flex">
                    <h1>Product Size</h1>
                    <button type="button" class="btn btn-default mx-2 bg-primary" data-toggle="modal"
                      data-target="#modal-3">
                      Add Size
                    </button>
                  </div>
                </div>
              </div><!-- /.container-fluid -->
            </section>
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <!-- /.card-header -->
                      <div class="card-body">
                        <table id="example2" class="table table-bordered table-striped dataTable dtr-inline"
                          aria-describedby="example1_info">
                          <thead>
                            <tr>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                S.No</th>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                color</th>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                Action</th>
                            </tr>
                          </thead>
                          <tbody>

                            <% if (locals.colors) { %>
                              <% colors.forEach((color,i)=> { %>
                                <tr id="row-<%= color._id %>">
                                  <td>
                                    <%= i+1 %>
                                  </td>
                                  <td>
                                    <%= color.color_name %>
                                  </td>
                                  <td>
                                    <button type="button" class="btn btn-danger" onclick="(async (e)=> { 
                                      const row = document.querySelector('#row-'+'<%= color._id %>');
                                          await fetch('http://localhost:8000/admin/api/attributes/color/' + '<%= color._id %>', {
                                            method: 'DELETE',
                                           })
                                          .then(response => response.json())
                                          .then(data => { 
                                            row.remove()
                                            AlertMessage(data.message,'Successfully Deleted!')
                                          })
                                        })()">
                                      Delete
                                    </button>
                                  </td>
                                </tr>
                                <% }) %>
                                  <% } %>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th rowspan="1" colspan="1">S.NO</th>
                              <th rowspan="1" colspan="1">Colors</th>
                              <th rowspan="1" colspan="1">Action</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-6">
                    <div class="card">
                      <!-- /.card-header -->
                      <div class="card-body">
                        <table id="example3" class="table table-bordered table-striped dataTable dtr-inline"
                          aria-describedby="example1_info">
                          <thead>
                            <tr>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                S.No</th>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                Sizes</th>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if (locals.sizes) { %>
                              <% sizes.forEach((size,i)=> { %>
                                <tr id="row-<%= size._id %>">
                                  <td>
                                    <%= i+1 %>
                                  </td>
                                  <td>
                                    <%= size.size_name %>
                                  </td>
                                  <td>
                                    <button id="<%= i %>index" type="button" class="btn btn-danger" onclick="(async ()=> {   
                                       const row = document.querySelector('#row-'+'<%= size._id %>');
                                          await fetch('http://localhost:8000/admin/api/attributes/size/' + '<%= size._id %>', {
                                            method: 'DELETE',
                                           })
                                          .then(response => response.json())
                                          .then(data => { 
                                            row.remove()
                                            AlertMessage(data.message,'Successfully Deleted!')
                                          })
                                        })()">
                                      Delete
                                    </button>
                                  </td>
                                </tr>
                                <% }) %>
                                  <% } %>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th rowspan="1" colspan="1">S.NO</th>
                              <th rowspan="1" colspan="1">Blog Color</th>
                              <th rowspan="1" colspan="1">Action</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container-fluid -->
            </section>
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6 d-flex">
                    <h1>Product Brand</h1>
                    <button type="button" class="btn btn-default mx-2 bg-primary" data-toggle="modal"
                      data-target="#modal-4">
                      Add Brand
                    </button>
                  </div>
                </div>
              </div><!-- /.container-fluid -->
            </section>
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <!-- /.card-header -->
                      <div class="card-body">
                        <table id="example4" class="table table-bordered table-striped dataTable dtr-inline"
                          aria-describedby="example1_info">
                          <thead>
                            <tr>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                S.No</th>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                color</th>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                Action</th>
                            </tr>
                          </thead>
                          <tbody>

                            <% if (locals.brands) { %>
                              <% brands.forEach((brand,i)=> { %>
                                <tr>
                                  <td>
                                    <%= i+1 %>
                                  </td>
                                  <td>
                                    <%= brand.brand_name %>
                                  </td>
                                  <td>
                                    <button type="button" class="btn btn-success editBrand" data-toggle="modal"
                                      data-target="#modal-5" data-id="<%= brand._id %>"
                                      data-brand="<%= brand.brand_name %>">Edit</button>
                                    <% const idNotFound=products.every(brandId=> !brandId.brand_name.equals(brand._id))
                                      %>
                                      <% if (idNotFound) { %>
                                        <button type="button" class="btn btn-danger deleteBrand"
                                          data-id="<%= brand._id %>">
                                          Delete
                                        </button>
                                        <% } %>
                                  </td>
                                </tr>
                                <% }) %>
                                  <% } %>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th rowspan="1" colspan="1">S.NO</th>
                              <th rowspan="1" colspan="1">Colors</th>
                              <th rowspan="1" colspan="1">Action</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->
          <%- include('../../partials/main_footer') %>

    </div>
    <div class="modal fade" id="modal-danger">
      <div class="modal-dialog">
        <div class="modal-content bg-danger">
          <div class="modal-header">
            <h4 class="modal-title">Alert</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are You want to Delete</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline-light" id="deleteCategoty">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Category</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="submitCategory" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="category">Category Name</label>
                    <input type="text" id="category" name="category_name" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="category">Category Description</label>
                    <input type="text" id="category_desc" name="category_desc" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="categoryImage">Category Image :</label>
                    <input type="file" id="categoryImage" name="image">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="maincategory">Select Parent Category (if you want!)</label>
                    <select name="parent_id" id="maincategory" class="form-control">
                      <option selected disabled value="">Category</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="toast-btn btn btn-primary toastrDefaultError">Save changes</button>
            </div>
          </form>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
    <div class="modal fade" id="modal-2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Color</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="submitColor">
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="category">Color Name</label>
                    <input type="text" id="color" name="color_name" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary toastrDefaultError">Save changes</button> -->
              <button type="submit" class="toast-btn btn btn-primary toastrDefaultError">
                Save Changes
              </button>
            </div>
          </form>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
    <!-- Add Size -->
    <div class="modal fade" id="modal-3">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Sizes</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="submitSize">
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="category">Size Name</label>
                    <input type="text" id="Size" name="size_name" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
    <!-- Add Brand -->
    <div class="modal fade" id="modal-4">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Brand</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="submitBrand">
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="brand">Brand Name</label>
                    <input type="text" id="brand" name="brand_name" class="form-control">
                  </div>
                  <div class="form-group d-flex flex-wrap">
                    <% if (locals.categories) { %>
                      <% categories.forEach(category=> { %>
                        <div class="form-check mr-2">
                          <input class="form-check-input parent_id" id="<%= category._id %>" type="checkbox"
                            value="<%=category._id  %>" name="parent_id">
                          <label class="form-check-label" for="<%= category._id %>">
                            <%= category.category_name %>
                          </label>
                        </div>
                        <% }) %>
                          <% } %>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
    <!-- Update modal For Brand -->
    <div class="modal fade" id="modal-5">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Update Brand</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="editsubmit">
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="brand">Brand Name</label>
                    <input type="text" id="brand_name" name="brand_name" class="form-control">
                  </div>
                  <div class="form-group d-flex flex-wrap">
                    <% if (locals.categories) { %>
                      <% categories.forEach(category=> { %>
                        <% const findCheckValue=findEditBrandId?.parent_id.some(id=> id.equals(category._id)) %>
                          <% console.log(findCheckValue) %>
                            <div class="form-check mr-2">
                              <input class="form-check-input parent_id" type="checkbox" id="<%= category._id %>"
                              
                                <%= findCheckValue ? 'checked' : '' %> 
                              value="<%= category._id %>" name="parent_id">
                                <label class="form-check-label" for="<%= category._id %>">
                                  <%= category.category_name %>
                                </label>
                            </div>
                            <% }) %>
                              <% } %>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
    <!-- ./wrapper -->
    <%- include('../../partials/script') %>
      <!-- AdminLTE App -->
      <script defer>
        (async () => {
          const selectBox = document.querySelector('#maincategory')
          await fetch('http://localhost:8000/admin/api/parent_category')
            .then(response => response.json())
            .then(data => {
              let categoryOption = ''
              data.forEach(category => {
                categoryOption += `<option value="${category._id}">${category.category_name}</option>`
              })
              selectBox.insertAdjacentHTML('beforeEnd', categoryOption)
            })
        })() // IIFE
        const checkboxes = document.querySelectorAll('.parent_id')
        // To Delete Parent Category
        document.querySelectorAll('.deletePcategory').forEach(btn => {
          btn.onclick = (e) => {
            const id = btn.dataset.id
            const api = `http://localhost:8000/admin/product/category/delete/${id}`;
            openModal(api, e.target)
          }
        })
        // To Create Parent With Sub Category
        document.querySelector('#submitCategory').onsubmit = async (e) => {
          e.preventDefault();

          const selectBox = document.querySelector('#maincategory')
          const category_name = document.querySelector('#category')
          const category_desc = document.querySelector('#category_desc')
          const formData = new FormData(e.target);

          if (selectBox.value && category_name.value) {

            const api = 'http://localhost:8000/admin/api/sub_category';
            await fetch(api, {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ category_name: category_name.value.trim(), parent_id: selectBox.value.trim() })
            }).then(response => response.json())
              .then(data => {
                AlertMessage(data.message, 'Already exists!' ?? 'Unsuccessfull!', 'Successfully Created!')
              })

          } else if (category_name.value) {
            const api = 'http://localhost:8000/admin/api/parent_category';
            await fetch(api, {
              method: 'POST',
              body: formData
            })
              .then(response => response.json())
              .then(data => {
                AlertMessage(data.message, 'Already exists!' || 'Unsuccessfull!', 'Successfully Created!')
              })
            formData.reset()
          }
        }
        // To Create Color
        document.querySelector('#submitColor').onsubmit = async (e) => {
          e.preventDefault();
          const color = document.querySelector('#color')
          if (color.value) {
            await fetch('http://localhost:8000/admin/api/attributes/color', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ color_name: color.value })
            })
              .then(response => response.json())
              .then(data => {
                AlertMessage(data.message, 'Already exists!' ?? 'unsuccessful', 'Successfully Created!')
              })
          }
          color.value = ''
        }
        // To Create Size
        document.querySelector('#submitSize').onsubmit = async (e) => {
          e.preventDefault();
          const size = document.querySelector('#Size')
          if (size.value) {
            await fetch('http://localhost:8000/admin/api/attributes/size', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ size_name: size.value.trim() })
            })
              .then(response => response.json())
              .then(data => AlertMessage(data.message, 'Already exists!' ?? 'Unsuccessfull!', 'Successfully Created!'))
          }
          size.value = ''
        }
        // To create Brand
        document.querySelector('#submitBrand').onsubmit = async (e) => {
          e.preventDefault()
          const checkedValues = Array.from(checkboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value)
          const brand_name = document.querySelector('#brand').value.trim()

          if (brand_name || checkedValues) {
            await fetch('http://localhost:8000/admin/api/attributes/brand', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ brand_name, parent_id: checkedValues })
            })
              .then(response => response.json())
              .then(data => {
                if (data.message == 'Successfully Created!') window.location.reload()
                AlertMessage(data.message, 'Already exists!' ?? 'Unsuccessfull!', 'Successfully Created!')
              })
          }
        }

        // To Delete Brand Name
        document.querySelectorAll('.deleteBrand').forEach(btn => {
          btn.onclick = async (e) => {
            const id = btn.dataset.id;
            const api = `http://localhost:8000/admin/api/attributes/brand/${id}`;
            opendeleteModal(api, btn)
          }
        })
        // To update Brand Name
        document.querySelectorAll('.editBrand').forEach(btn => {
          btn.onclick = async (e) => {
            const id = btn.dataset.id;
            const brand_name = btn.dataset.brand;
            await fetch(`http://localhost:8000/admin/productcategory/${id}`)
            document.querySelector('#brand_name').value = brand_name;
            openupdateModal(id)
          }
        })

        // To Update Brand 
        function openupdateModal(id) {
          document.querySelector('#editsubmit').onsubmit = (e) => {
            e.preventDefault()
            const api = `http://localhost:8000/admin/api/attributes/brand/${id}`
            const checkedValues = Array.from(checkboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value)
            const info = {
              brand_name: document.querySelector('#brand_name').value.trim(),
              parent_id: checkedValues
            }
            handlePostPutOperation(api, 'PUT', info)
          }
        }

        async function handlePostPutOperation(api, method, info) {
          await fetch(api, {
            method: `${method}`,
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ info })
          })
            .then(response => response.json())
            .then(data => {
              AlertMessage(data.message, '', 'Successfull!')
              if (data.message == 'Successfull!') window.location.reload()
            })
        }

        function opendeleteModal(api, targetElement) {
          document.querySelector('#deleteCategoty').onclick = async () => {
            handledelete(api, targetElement)
          }
        }

        async function handledelete(api, targetElement) {
          await fetch(api, {
            method: 'DELETE'
          })
            .then(response => response.json())
            .then(data => {
              if (data.message == 'Successfully Deleted!') targetElement.parentNode.parentNode.remove()
              AlertMessage(data.message, '', 'Successfully Deleted!')
            })
        }
      </script>
  </body>

</html>