<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header') %>
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../../partials/navbar') %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%- include('../../partials/sidebar') %>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6 d-flex">
                    <h1>Category</h1>
                    <button type="button" class="btn btn-default mx-2 bg-primary" data-toggle="modal"
                      data-target="#modal-default">
                      Add Category
                    </button>
                  </div>
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Product Attributes</li>
                    </ol>
                  </div>
                </div>
              </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Update Blog</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                          aria-describedby="example1_info">
                          <thead>
                            <tr>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                S.No</th>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                Category</th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Browser: activate to sort column ascending">
                                Sub Category</th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Platform(s): activate to sort column ascending">
                                Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if (locals.categories) { %>
                              <% categories.forEach((category,i)=> { %>
                                <tr>
                                  <td>
                                    <%= i + 1 %>
                                  </td>
                                  <td>
                                    <%= category.parent_Category %>
                                  </td>
                                  <td>
                                    <% category.sub_categories.forEach(category=> { %>
                                      <p class="m-0 float-left mx-1">
                                        <%= category.category_name %>
                                      </p>
                                      <% }) %>
                                  </td>
                                  <td>
                                    <button type="button" class="btn btn-sm btn-primary"
                                      onclick="(()=>{ window.location.href = 'category/update/<%= category._id %>'})()">Edit</button>
                                    <button type="button" class="btn btn-sm btn-danger"
                                      onclick="(()=>{ window.location.href = 'category/delete/<%= category._id %>'})()">
                                      Delete</button>
                                  </td>
                                </tr>
                                <% }) %>
                                  <% } %>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th rowspan="1" colspan="1">S.NO</th>
                              <th rowspan="1" colspan="1">Category</th>
                              <th rowspan="1" colspan="1">Sub Category</th>
                              <th rowspan="1" colspan="1">Actions</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->
          <%- include('../../partials/main_footer') %>

    </div>
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Category</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="submitCategory">
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="category">Category Name</label>
                    <input type="text" id="category" name="category_name" class="form-control">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="maincategory">Select Parent Category (if you want!)</label>
                    <select name="parent_id" id="maincategory" class="form-control">
                      <option selected disabled value="">Category</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
          <div id="toast-container" class="toast-top-right">
            <div class="toast toast-success" aria-live="polite" style="opacity: 0;">
              <div class="toast toast-error" aria-live="polite" style="opacity: 0;">
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
    <!-- ./wrapper -->
    <%- include('../../partials/script') %>
      <!-- AdminLTE App -->
      <script async>
        (async () => {
          const selectBox = document.querySelector('#maincategory')
          await fetch('http://localhost:8000/admin/api/parent_category')
            .then(response => response.json())
            .then(data => {
              let categoryOption = ''
              data.forEach(category => {
                categoryOption += `<option value="${category._id}">${category.category_name}</option>`
              })
              selectBox.insertAdjacentHTML('beforeEnd', categoryOption)
            })
        })() // IIFE
        function AlertMessage(message, erroMessage, sucsessMessage) {
          const ToastElement = document.querySelector('#toast-container .toast')

          ToastElement.style.opacity = '1'
          if (erroMessage == message) {
            ToastElement.classList.remove('toast-success')
            ToastElement.classList.add('toast-error')
            ToastElement.innerHTML = message
          } else if (sucsessMessage == message) {
            ToastElement.classList.remove('toast-error')
            ToastElement.classList.add('toast-success')
            ToastElement.innerHTML = message
          }
          setTimeout(() => { ToastElement.style.opacity = '0' }, 3000)
        }

        async function Fetch(api, value1, value2) {
          await fetch(api, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              category_name: value1,
              parent_id: value2
            })
          })
            .then(response => response.json())
            .then(data => AlertMessage(data.message, 'Unsuccessfull!', 'Successfully Created!'))
        }

        document.querySelector('#submitCategory').addEventListener('submit', async (e) => {
          e.preventDefault();

          const selectBox = document.querySelector('#maincategory')
          const category_name = document.querySelector('#category')

          if (selectBox.value && category_name.value) {
            const api = 'http://localhost:8000/admin/api/sub_category';
            Fetch(api, category_name.value, selectBox.value)
          } else {
            if (category_name.value) {
              const api = 'http://localhost:8000/admin/api/parent_category';
              Fetch(api, document.querySelector('#category').value)
            }
          }
          selectBox.value = ''
          category_name.value = ''
        })        
      </script>
  </body>

</html>