<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header') %>
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../../partials/navbar') %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%- include('../../partials/sidebar') %>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0">Product</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Product</li>
                    </ol>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">All Products</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <form id="submitProduct">
                          <div class="row">
                            <!-- /.col -->
                            <div class="col-md-6">
                              <!-- /.form-group -->
                              <div class="form-group">
                                <label for="title">Product Title</label>
                                <input type="text" id="title" name="product_title" class="form-control"
                                  placeholder="Enter Title">
                              </div>
                              <div class="form-group">
                                <label for="category">Category</label>
                                <select name="product_parent_category_id" id="category" class="form-control">
                                  <option selected disabled value="">Select Category</option>
                                  <% if (locals.parent_Categories) { %>
                                    <% parent_Categories.forEach(category=> { %>
                                      <option value="<%= category._id %>">
                                        <%= category.category_name %>
                                      </option>
                                      <% }) %>
                                        <% } %>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="category">Sub_Category</label>
                                <select name="product_sub_category_id" id="category" class="form-control">
                                  <option selected disabled value="">Select Category</option>
                                  <% if (locals.sub_categories) { %>
                                    <% sub_categories.forEach(category=> { %>
                                      <option value="<%= category._id %>">
                                        <%= category.category_name %>
                                      </option>
                                      <% }) %>
                                        <% } %>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="new">Product is NEW</label>
                                <select class="select2" name="product_new" id="new" data-placeholder="Select a Size"
                                  style="width: 100%;">
                                  <option value="false">No</option>
                                  <option value="true" selected>Yes</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="sales">Product ON sales</label>
                                <select class="select2" name="product_on_sale" id="sales"
                                  data-placeholder="Select a Size" style="width: 100%;">
                                  <option value="false" selected>No</option>
                                  <option value="true">Yes</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label>Sizes</label>
                                <select class="select2" name="availableSize" data-placeholder="Select a Size"
                                  style="width: 100%;" multiple>
                                  <% if (locals.sizes) { %>
                                    <% sizes.forEach(size=> { %>
                                      <option value="<%= size._id %>">
                                        <%= size.size_name %>
                                      </option>
                                      <% }) %>
                                        <% } %>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="stock">In Stock</label>
                                <select class="select2" name="product_stock" id="stock" data-placeholder="Stock"
                                  style="width: 100%;">
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>
                              </div>
                              <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <!-- /.col -->
                            <div class="col-md-6">
                              <!-- /.form-group -->
                              <div class="form-group">
                                <label for="price">Product Actual price</label>
                                <input type="text" id="price" name="product_price" class="form-control"
                                  placeholder="Enter Title">
                              </div>
                              <div class="form-group">
                                <label for="discount">Discount Price</label>
                                <input type="number" min="0" max="100" name="product_discount" id="discount"
                                  class="form-control" placeholder="Enter Price">
                              </div>
                              <div class="form-group">
                                <label>Color</label>
                                <select class="select2" name="availableColor" multiple="multiple"
                                  data-placeholder="Select a Color" style="width: 100%;">
                                  <% if (locals.colors) { %>
                                    <% colors.forEach(color=> { %>
                                      <option value="<%= color._id %>">
                                        <%= color.color_name %>
                                      </option>
                                      <% }) %>
                                        <% } %>
                                </select>
                              </div>
                              <div class="form-group">
                                <label>Brand</label>
                                <select class="form-control" name="brand_name" data-placeholder="Select a Brand"
                                  style="width: 100%;">
                                  <option selected disabled value="">Select Brand Name</option>
                                  <% if (locals.brands) { %>
                                    <% brands.forEach(brand=> { %>
                                      <option value="<%= brand._id %>">
                                        <%= brand.brand_name %>
                                      </option>
                                      <% }) %>
                                        <% } %>
                                </select>
                              </div>
                              <div class="form-group">
                                <label>Brand</label>
                                <select class="form-control" name="shipping" data-placeholder="Select Shipping"
                                  style="width: 100%;">
                                  <option value="Free Shipping">Free Shipping</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="image-upload">File input</label>
                                <div class="input-group d-flex flex-column">
                                  <div class="custom-file w-100 mb-2">
                                    <input type="file" name="product_image" class="custom-file-input" id="imageInput"
                                      multiple>
                                    <label class="custom-file-label" for="image-upload">Choose file</label>
                                  </div>
                                  <div id="imagePreview">
                                  </div>
                                </div>
                              </div>
                              <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-12">
                              <textarea id="summernote" name="product_description">
                              </textarea>
                            </div>
                          </div>
                          <button type="submit" class="toast-btn btn btn-primary toastrDefaultError">Submit</button>
                        </form>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->
          <%- include('../../partials/main_footer') %>
    </div>
    <!-- ./wrapper -->

    <%- include('../../partials/script') %>
      <!-- AdminLTE App -->
      <script>

        const inputField = document.getElementById('imageInput');
        const imagePreview = document.getElementById('imagePreview');

        inputField.addEventListener('change', (e) => {
          const files = e.target.files
          if (imagePreview.childNodes.length + 1 >= 5) {
            inputField.disabled = true;
          } else if (imagePreview.childNodes.length + 1 <= 5) {
            inputField.removeAttribute('disabled')
          }

          Array.from(files).forEach((file) => {
            const reader = new FileReader()

            reader.onload = () => {
              const img = document.createElement('img')
              img.src = reader.result;
              img.alt = file.name;
              img.style.margin = '10px';
              img.style.width = '150px';
              img.className = 'img'
              imagePreview.appendChild(img)

              document.querySelectorAll('.img').forEach(img =>{
                img.addEventListener('dblclick', async (e) => {
                e.target.remove()
              })
              })
            }
            reader.readAsDataURL(file);
          })
        })

        document.querySelector('#submitProduct').addEventListener('submit', async (e) => {
          e.preventDefault()
          const product_description = $('#summernote').summernote('code').trim()
          const formData = new FormData(e.target)
          formData.append('product_description', product_description)

          await fetch('http://localhost:8000/admin/product/create', {
            method: 'POST',
            body: formData
          })
            .then((res) => res.json())
            .then((data) => {
              AlertMessage(data.message, 'Unsuccessfull!', 'Successfully Created!')
              e.target.reset()
              $('#summernote').summernote('code', '')
            })
        })
      </script>
  </body>

</html>