<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header') %>
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../../partials/navbar') %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%- include('../../partials/sidebar') %>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0">Product</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Product</li>
                    </ol>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">All Products</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <form id="submitProduct">
                          <div class="row">
                            <!-- /.col -->
                            <div class="col-md-6">
                              <!-- /.form-group -->
                              <!-- product title -->
                              <div class="form-group">
                                <label for="title">Product Title</label>
                                <input type="text" id="title" name="product_title" class="form-control"
                                  placeholder="Enter Title">
                              </div>
                              <!-- parent category -->
                              <div class="form-group">
                                <label for="category">Category</label>
                                <select name="product_parent_category_id" id="category" class="form-control">
                                  <option selected disabled value="">Select Category</option>
                                  <% if (locals.parent_Categories) { %>
                                    <% parent_Categories.forEach(category=> { %>
                                      <option value="<%= category._id %>">
                                        <%= category.category_name %>
                                      </option>
                                      <% }) %>
                                        <% } %>
                                </select>
                              </div>
                              <!-- sub category -->
                              <div class="form-group">
                                <label for="subcategory">Sub_Category</label>
                                <select name="product_sub_category_id" id="subcategory" class="form-control">
                                  <option selected disabled value="">Select Category</option>
                                </select>
                              </div>
                              <!-- product is new -->
                              <div class="form-group">
                                <label for="new">Product is NEW</label>
                                <select class="form-control" name="product_new" id="new" style="width: 100%;">
                                  <option value="false">No</option>
                                  <option value="true" selected>Yes</option>
                                </select>
                              </div>
                              <!-- product is on sales -->
                              <div class="form-group">
                                <label for="sales">Product ON sales</label>
                                <select class="form-control" name="product_on_sale" id="sales" style="width: 100%;">
                                  <option value="false" selected>No</option>
                                  <option value="true">Yes</option>
                                </select>
                              </div>
                              <!-- product sizes -->
                              <div class="form-group">
                                <label>Sizes</label>
                                <select class="select2" name="availableSize" data-placeholder="Select a Size"
                                  style="width: 100%;" multiple>
                                  <% if (locals.sizes) { %>
                                    <% sizes.forEach(size=> { %>
                                      <option value="<%= size._id %>">
                                        <%= size.size_name %>
                                      </option>
                                      <% }) %>
                                        <% } %>
                                </select>
                              </div>
                              <!-- In Stock -->
                              <div class="form-group">
                                <label for="stock">In Stock</label>
                                <select class="form-control" name="product_stock" id="stock" style="width: 100%;">
                                  <option value="false">No</option>
                                  <option value="true" selected>Yes</option>
                                </select>
                              </div>
                              <!-- featured image -->
                              <div class="form-group">
                                <label for="image-upload">Select Featured Image</label>
                                <div class="input-group d-flex flex-column">
                                  <div class="custom-file w-100 mb-2">
                                    <input type="file" name="featured_image" class="custom-file-input"
                                      id="featured_image">
                                    <label class="custom-file-label" for="featured_image">Choose file</label>
                                  </div>
                                  <div id="Preview_featured_image">
                                  </div>
                                </div>
                              </div>
                              <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <!-- /.col -->
                            <div class="col-md-6">
                              <!-- /.form-group -->
                              <!-- product price -->
                              <div class="form-group">
                                <label for="price">Product price</label>
                                <input type="text" id="price" name="product_price" class="form-control"
                                  placeholder="Enter Title">
                              </div>
                              <!-- product discount -->
                              <div class="form-group">
                                <label for="discount">Discount %</label>
                                <input type="number" min="0" max="100" name="product_discount" id="discount"
                                  class="form-control" placeholder="Enter Price">
                              </div>
                              <!-- discounted price -->
                              <div class="form-group">
                                <label for="discount">Discounted Price</label>
                                <input type="number" id="discountedPrice" class="form-control"
                                  placeholder="Enter Price">
                              </div>
                              <!-- product slug  -->
                              <div class="form-group">
                                <label for="product_slug">Product Slug</label>
                                <input type="text" id="product_slug" class="form-control" placeholder="Enter Slug">
                              </div>
                              <!-- Select Color -->
                              <div class="form-group">
                                <label>Color</label>
                                <select class="select2" name="availableColor" multiple="multiple"
                                  data-placeholder="Select a Color" style="width: 100%;">
                                  <% if (locals.colors) { %>
                                    <% colors.forEach(color=> { %>
                                      <option value="<%= color._id %>">
                                        <%= color.color_name %>
                                      </option>
                                      <% }) %>
                                        <% } %>
                                </select>
                              </div>
                              <!-- select Brand -->
                              <div class="form-group">
                                <label>Brand</label>
                                <select class="form-control" id="brands" name="brand_name" data-placeholder="Select a Brand"
                                  style="width: 100%;">
                                  <option selected disabled value="">Select Brand Name</option>
                                </select>
                              </div>
                              <!-- Shipping -->
                              <div class="form-group">
                                <label>Free Shipping</label>
                                <select class="form-control" name="shipping" data-placeholder="Select Shipping"
                                  style="width: 100%;">
                                  <option value="true">Yes</option>
                                  <option value="false" selected>No</option>
                                </select>
                              </div>
                              <!--  product Status -->
                              <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" name="status" data-placeholder="Product Status"
                                  style="width: 100%;">
                                  <option value="true">Yes</option>
                                  <option value="false" selected>No</option>
                                </select>
                              </div>
                              <!-- Product Images -->
                              <div class="form-group">
                                <label for="image-upload">File input</label>
                                <div class="input-group d-flex flex-column">
                                  <div class="custom-file w-100 mb-2">
                                    <input type="file" name="product_image" class="custom-file-input" id="imageInput"
                                      multiple>
                                    <label class="custom-file-label" for="image-upload">Choose file</label>
                                  </div>
                                  <div id="imagePreview">
                                  </div>
                                </div>
                              </div>
                              <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-12">
                              <textarea id="summernote" name="product_description">
                              </textarea>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->
          <%- include('../../partials/main_footer') %>
    </div>
    <!-- ./wrapper -->

    <%- include('../../partials/script') %>
      <!-- AdminLTE App -->
      <script defer>
        // TO load sub category on the change of parent category
        document.querySelector('#category').onchange = async () => {
          const parentID = document.querySelector('#category').value.trim()
          const api = await fetch('http://localhost:8000/admin/api/subCategory')
          const response = api.json()
          response.then(sub_category => {
            let optionTag = ''
            sub_category.forEach(category => {
              const checkParentId = category.parent_id.some(id => id == parentID)
              if (checkParentId) optionTag += `<option value="${category._id}">${category.category_name}</option>`;
            })
            document.querySelector('#subcategory').innerHTML = optionTag;
          })
        }
        
        // TO load brand on the change of sub category
        document.querySelector('#subcategory').onchange = async () => {
          const subID = document.querySelector('#subcategory').value.trim()
          const api = await fetch('http://localhost:8000/admin/api/attributes/brands')
          const res = api.json()
          res.then(data => {
            let optionTag = ''
            data.forEach(brand => {
              const checksubId = brand.category_id.some(id => id == subID)
              if (checksubId) optionTag += `<option value="${brand._id}">${brand.brand_name}</option>`;
            })
            document.querySelector('#brands').innerHTML = optionTag;
          })
        }

        const inputField = document.getElementById('imageInput')
        const imagePreview = document.getElementById('imagePreview')

        document.querySelector('#featured_image').onchange = (e) => {
          const file = e.target.files[0];
          const reader = new FileReader();
          reader.onload = () => {
            const img = document.createElement('img');
            img.src = reader.result;
            img.style.width = '150px';
            document.querySelector('#Preview_featured_image').appendChild(img)
          }
          reader.readAsDataURL(file);
        }

        inputField.addEventListener('change', (e) => {
          const files = e.target.files
          if (imagePreview.childNodes.length + 1 >= 5) {
            inputField.disabled = true;
          } else if (imagePreview.childNodes.length + 1 <= 5) {
            inputField.removeAttribute('disabled')
          }

          Array.from(files).forEach((file) => {
            const reader = new FileReader()

            reader.onload = () => {
              const img = document.createElement('img')
              img.src = reader.result;
              img.style.margin = '10px';
              img.style.width = '150px';
              img.style.cursor = 'pointer';
              img.className = 'img';
              imagePreview.appendChild(img)
              document.querySelectorAll('.img').forEach(img => {
                img.ondblclick = (e) => {
                  e.target.remove()
                }
              })
            }
            reader.readAsDataURL(file);
          })
        })

        document.querySelector('#discount').onchange = () => {
          const price = parseInt(document.querySelector('#price').value.trim())
          const discount = document.querySelector('#discount').value.trim()
          document.querySelector('#discountedPrice').value = price - parseInt(price * discount / 100)
        }
        function createSlug(str) {
          return str.toLowerCase()
            .replace(/[^a-z0-9]+/g, '-')
            .replace(/^-+|-+$/g, '')
            .replace(/--+/g, '-')
        }
        document.querySelector('#submitProduct').onsubmit = async (e) => {
          e.preventDefault()
          const price = parseInt(document.querySelector('#price').value.trim())
          const discount = document.querySelector('#discount').value.trim()
          const product_description = $('#summernote').summernote('code').trim()
          const formData = new FormData(e.target)
          formData.append('product_description', product_description)
          formData.append('discounted_price', price - parseInt(price * discount / 100))
          formData.append('product_slug', createSlug(document.querySelector('#product_slug').value.trim()))

          await fetch('http://localhost:8000/admin/product/create', {
            method: 'POST',
            body: formData
          })
            .then((res) => res.json())
            .then((data) => {
              AlertMessage(data.message, 'Unsuccessfull!', 'Successfully Created!')
              e.target.reset()
              document.querySelector('#Preview_featured_image').innerHTML = '';
              document.querySelector('#imagePreview').innerHTML = '';
              $('#summernote').summernote('code', '')
            })
        }
      </script>
  </body>

</html>