<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header') %>
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../../partials/navbar') %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%- include('../../partials/sidebar') %>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6 d-flex align-items-center">
                    <h1 class="m-0">Product</h1>
                    <a href="/admin/product/create" class="mx-3 bg-primary rounded p-2">Add Product</a>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Product</li>
                    </ol>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">All Products</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                          aria-describedby="example1_info">
                          <thead>
                            <tr>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                S.No</th>
                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                colspan="1" aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending">
                                Product Title</th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Browser: activate to sort column ascending">
                                Product Image</th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Platform(s): activate to sort column ascending">
                                Category</th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="Engine version: activate to sort column ascending">
                                Created Date</th>
                              <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                aria-label="CSS grade: activate to sort column ascending">
                                Actions</th>
                            </tr>
                          </thead>
                          <tbody id="ProductTable">
                            <% if (locals.products) { %>
                              <% products.forEach((product,i)=> { %>
                                <tr>
                                  <td>
                                    <%= i+1 %>
                                  </td>
                                  <td>
                                    <%= product.product_title %>
                                  </td>
                                  <td>
                                    <img
                                      src='http://localhost:8000/uploads/productImages/<%= product?.featured_image %>'
                                      style="width: 105px; height: auto;" alt="">
                                  </td>
                                  <td>
                                    <%= product.parent_category.category_name %>
                                  </td>
                                  <td>
                                    <%= product.date.toLocaleDateString() %>
                                  </td>
                                  <td>
                                    <button type="button"
                                      onclick="(()=> window.location.href = 'product/<%= product._id %>')()"
                                      class="btn btn-block btn-success">Edit</button>
                                    <% if (locals.getorder) { %>
                                      <% const checkpid=getorder.every(order=> order.items.some(item => item.pid.toString() == product._id)) %>
                                        <% if (!checkpid) { %>
                                          <button type="button" data-id="<%= product._id %>"
                                            class="btn btn-block btn-danger deleteProduct">
                                            Delete
                                          </button>
                                          <% } %>
                                            <% } %>
                                  </td>
                                </tr>
                                <% }) %>
                                  <% }%>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th rowspan="1" colspan="1">S.NO</th>
                              <th rowspan="1" colspan="1">Product Title</th>
                              <th rowspan="1" colspan="1">Product Image</th>
                              <th rowspan="1" colspan="1">Category</th>
                              <th rowspan="1" colspan="1">Created Date</th>
                              <th rowspan="1" colspan="1">Actions</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->
          <%- include('../../partials/main_footer') %>
    </div>
    <!-- ./wrapper -->
    <%- include('../../partials/script') %>
      <!-- AdminLTE App -->
      <script defer>
        document.querySelectorAll('.deleteProduct').forEach(btn => {
          btn.onclick = async (e) => {
            const id = btn.dataset.id;
            await fetch(`http://localhost:8000/admin/product/${id}`, { method: 'DELETE', })
              .then(response => response.json())
              .then(data => {
                if (data.message == 'Successfully Deleted!') e.target.parentNode.parentNode.remove()
                AlertMessage(data.message, '', 'Successfully Deleted!')
              })
          }
        })
      </script>
  </body>

</html>