<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header') %>
  <style>
    .img {
      cursor: pointer;
    }
  </style>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../../partials/navbar') %>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <%- include('../../partials/sidebar') %>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0">Product</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Product</li>
                    </ol>
                  </div><!-- /.col -->
                </div>
              </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">All Products</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <% if (locals.product) { %>
                          <form id="UpdateProduct">
                            <div class="row">
                              <!-- /.col -->
                              <div class="col-md-6">
                                <!-- /.form-group -->
                                <!-- Product Title -->
                                <div class="form-group">
                                  <label for="title">Product Title</label>
                                  <input type="text" id="title" name="product_title" class="form-control"
                                    value="<%= product[0].product_title%>" placeholder="Enter Title">
                                </div>
                                <!-- Parent category -->
                                <div class="form-group">
                                  <label for="category">Category</label>
                                  <select name="product_parent_category_id" id="category" class="form-control">
                                    <option selected disabled value="<%= product[0].parent_category._id %>">
                                      <%= product[0].parent_category.category_name %>
                                    </option>
                                    <% if (locals.parent_Categories) { %>
                                      <% parent_Categories.forEach(category=> { %>
                                        <option value="<%= category._id %>">
                                          <%= category.category_name %>
                                        </option>
                                        <% }) %>
                                          <% } %>
                                  </select>
                                </div>
                                <!-- Sub category -->
                                <div class="form-group">
                                  <label for="category">Sub_Category</label>
                                  <select name="product_sub_category_id" id="subcategory" class="form-control">
                                    <option selected disabled value="<%= product[0].sub_category._id %>">
                                      <%= product[0].sub_category.category_name %>
                                    </option>
                                  </select>
                                </div>
                                <!-- Product Is New -->
                                <div class="form-group">
                                  <label for="new">Product is NEW</label>
                                  <select class="form-control" name="product_new" id="new"
                                    data-placeholder="Select a Size" style="width: 100%;">
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                  </select>
                                </div>
                                <!-- Product Is sales -->
                                <div class="form-group">
                                  <label for="sales">Product ON sales</label>
                                  <select class="form-control" name="product_on_sales" id="sales"
                                    data-placeholder="Select a Size" style="width: 100%;">
                                    <option value="false" selected>No</option>
                                    <option value="true">Yes</option>
                                  </select>
                                </div>
                                <!-- product Sizes -->
                                <div class="form-group">
                                  <label>Sizes</label>
                                  <select class="select2" name="availableSize" multiple="multiple"
                                    data-placeholder="Select a Size" style="width: 100%;">
                                    <% product[0].sizeDetails.forEach(size=> { %>
                                      <option selected value="<%= size._id %>">
                                        <%= size.size_name %>
                                      </option>
                                      <% }) %>
                                        <% if (locals.sizes) { %>
                                          <% sizes.forEach(size=> { %>
                                            <option value="<%= size._id %>">
                                              <%= size.size_name %>
                                            </option>
                                            <% }) %>
                                              <% } %>
                                  </select>
                                </div>
                                <!-- product IN stock -->
                                <div class="form-group">
                                  <label for="stock">In Stock</label>
                                  <select class="form-control" name="product_stock" id="stock" data-placeholder="Stock"
                                    style="width: 100%;">
                                    <% if (product[0].product_stock==true) { %>
                                      <option value="false">No</option>
                                      <option value="true">Yes</option>
                                      <% } else { %>
                                        <option value="false">No</option>
                                        <option value="true">Yes</option>
                                        <% } %>
                                          <option value="<%= product[0].product_stock %>">
                                          </option>
                                  </select>
                                </div>
                                <!-- featured Image -->
                                <div class="form-group">
                                  <label for="image-upload">Select Featured Image</label>
                                  <div class="input-group d-flex flex-column">
                                    <div class="custom-file w-100 mb-2">
                                      <input type="file" name="featured_image" class="custom-file-input"
                                        id="featured_image">
                                      <label class="custom-file-label" for="featured_image">Choose file</label>
                                    </div>
                                    <div id="Preview_featured_image" style="height: 200px;">
                                      <img
                                        src="http://localhost:8000/uploads/productImages/<%= product[0]?.featured_image %> "
                                        alt="" class="w-25 mr-3">
                                    </div>
                                  </div>
                                </div>
                                <!-- /.form-group -->
                              </div>
                              <!-- /.col -->
                              <!-- /.col -->
                              <div class="col-md-6">
                                <!-- /.form-group -->
                                <!-- product price -->
                                <div class="form-group">
                                  <label for="price">Product price</label>
                                  <input type="text" id="price" name="product_price" class="form-control"
                                    value="<%= product[0].product_price %>" placeholder="Enter Title">
                                </div>
                                <!-- product discount -->
                                <div class="form-group">
                                  <label for="discount">Discount %</label>
                                  <input type="number" min="0" max="100" name="product_discount" id="discount"
                                    value="<%= product[0].product_discount %>" class="form-control"
                                    placeholder="Enter Price">
                                </div>
                                <!-- discounted price -->
                                <div class="form-group">
                                  <label for="discount">Discounted Price</label>
                                  <input type="number" id="discountedPrice" class="form-control"
                                    value="<%= product[0].discounted_price %>" placeholder="Enter Price">
                                </div>
                                <!-- product slug  -->
                                <div class="form-group">
                                  <label for="product_slug">Product Slug</label>
                                  <input type="text" id="product_slug" class="form-control"
                                    value="<%= product[0].product_slug %>" placeholder="Enter Slug">
                                </div>
                                <!-- Select Color -->
                                <div class="form-group">
                                  <label>Color</label>
                                  <select class="select2" name="availableColor" multiple="multiple"
                                    data-placeholder="Select a Color" style="width: 100%;">
                                    <% product[0].colorDetails.forEach(color=> { %>
                                      <option selected value="<%= color._id %>">
                                        <%= color.color_name %>
                                      </option>
                                      <% }) %>
                                        <% if (locals.colors) { %>
                                          <% colors.forEach(color=> { %>
                                            <option value="<%= color._id %>">
                                              <%= color.color_name %>
                                            </option>
                                            <% }) %>
                                              <% } %>
                                  </select>
                                </div>
                                <!-- select Brand -->
                                <div class="form-group">
                                  <label>Brand</label>
                                  <select class="form-control" name="brand_name" data-placeholder="Select a Brand"
                                    style="width: 100%;">
                                    <option selected disabled value="<%= product[0].brand._id %>">
                                      <%= product[0].brand.brand_name %> %>
                                    </option>
                                    <% if (locals.brands) { %>
                                      <% brands.forEach(brand=> { %>
                                        <option value="<%= brand._id %>">
                                          <%= brand.brand_name %>
                                        </option>
                                        <% }) %>
                                          <% } %>
                                  </select>
                                </div>
                                <!-- Shipping -->
                                <div class="form-group">
                                  <label>Free Shipping</label>
                                  <select class="form-control" name="shipping" data-placeholder="Select Shipping"
                                    style="width: 100%;">
                                    <% if (product[0].shipping==true) { %>
                                      <option value="true" selected>Yes</option>
                                      <option value="false">No</option>
                                      <% } else {%>
                                        <option value="true">Yes</option>
                                        <option value="false" selected>No</option>
                                        <% } %>
                                  </select>
                                </div>
                                <!--  product Status -->
                                <div class="form-group">
                                  <label>Status</label>
                                  <select class="form-control" name="status" data-placeholder="Product Status"
                                    style="width: 100%;">
                                    <% if (product[0].status==true) { %>
                                      <option value="true" selected>Yes</option>
                                      <option value="false">No</option>
                                      <% } else {%>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                        <% } %>
                                  </select>
                                </div>
                                <!-- featured Image -->
                                <div class="form-group">
                                  <label for="image-upload">File input</label>
                                  <div class="input-group d-flex flex-column">
                                    <div class="custom-file w-100 mb-2">
                                      <input type="file" name="product_image" class="custom-file-input" id="imageInput"
                                        multiple>
                                      <label class="custom-file-label" for="image-upload">Choose file</label>
                                    </div>
                                    <div id="imagePreview" class="d-flex flex-wrap">
                                      <% product[0].product_image?.forEach(image=> { %>
                                        <img src="http://localhost:8000/uploads/productImages/<%= image %> " alt=""
                                          class="img-fluid m-1 img w-25" data-id="<%= image %>">
                                        <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <!-- /.form-group -->
                              </div>
                              <!-- /.col -->
                              <!-- summernote Editor -->
                              <div class="col-12">
                                <textarea id="summernote" name="product_description">
                                  <%= product[0].product_description %>
                                </textarea>
                              </div>
                            </div>
                            <button type="submit" class="toast-btn btn btn-primary toastrDefaultError">Submit</button>
                          </form>
                          <% } %>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->
          <%- include('../../partials/main_footer') %>
    </div>
    <!-- ./wrapper -->

    <%- include('../../partials/script') %>
      <!-- AdminLTE App -->
      <script defer>
        document.querySelector('#category').onchange = async () => {
          const parentID = document.querySelector('#category').value.trim()
          const api = await fetch('http://localhost:8000/admin/api/subCategory')
          const response = api.json()
          response.then(sub_category => {
            let optionTag = ''
            sub_category.forEach(category => {
              const checkParentId = category.parent_id.some(id => id == parentID)
              if (checkParentId) optionTag += `<option value="${category._id}">${category.category_name}</option>`;
            })
            document.querySelector('#subcategory').innerHTML = optionTag;
          })
        }

        document.querySelector('#featured_image').onchange = (e) => {
          const file = e.target.files[0];
          const reader = new FileReader();
          reader.onload = () => {
            const img = document.createElement('img');
            img.src = reader.result;
            img.className = 'w-25'
            document.querySelector('#Preview_featured_image').appendChild(img)
          }
          reader.readAsDataURL(file);
        }


        const inputField = document.getElementById('imageInput');
        const imagePreview = document.getElementById('imagePreview');

        inputField.addEventListener('change', (e) => {
          const files = e.target.files
          Array.from(files).forEach((file) => {
            const reader = new FileReader()

            reader.onload = () => {
              const img = document.createElement('img')
              const btn = document.createComment('button')
              img.src = reader.result;
              img.alt = file.name;
              img.margin = '5px';
              img.className = 'w-25';
              imagePreview.appendChild(img);
            }
            reader.readAsDataURL(file);
          })
        })

        if (document.querySelector('.img')) {
          document.querySelectorAll('.img').forEach(img => {
            img.addEventListener('dblclick', async (e) => {
              const imgName = img.dataset.id;
              img.remove()
              await fetch(`http://localhost:8000/admin/product/image/<%= product[0]._id %>`, {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ image: imgName })
              })
            })
          })
        }
        document.querySelector('#discount').onchange = () => {
          const price = parseInt(document.querySelector('#price').value.trim())
          const discount = document.querySelector('#discount').value.trim()
          document.querySelector('#discountedPrice').value = price - parseInt(price * discount / 100)
        }

        function createSlug(str) {
          return str.toLowerCase()
            .replace(/[^a-z0-9]+/g, '-')
            .replace(/^-+|-+$/g, '')
            .replace(/--+/g, '-')
        }
        document.querySelector('#UpdateProduct').addEventListener('submit', async (e) => {
          e.preventDefault()
          const price = parseInt(document.querySelector('#price').value.trim())
          const discount = document.querySelector('#discount').value.trim()
          const product_description = $('#summernote').summernote('code').trim()
          const files = inputField.files;
          const formData = new FormData(e.target)

          formData.append('product_description', product_description)
          formData.append('discounted_price', price - parseInt(price * discount / 100))
          formData.append('product_slug', createSlug(document.querySelector('#product_slug').value.trim()))


          await fetch(`<%= product[0]._id %>`, {
            method: 'PUT',
            body: formData
          })
            .then(response => response.json())
            .then(data => {
              AlertMessage(data.message, 'Update Unsuccessfull!', 'Update Successfully!')
            })
        })

      </script>
  </body>

</html>